/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    background: linear-gradient(135deg, #b3d8ec, #ffffff);
}

/* HEADER */
.header {
    background: linear-gradient(90deg, #1e3a8a, #3b82f6);
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header h2 {
    font-size: 26px;
}

.header .profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header button {
    background: #ef4444;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.header button:hover {
    background: #dc2626;
}

/* DASHBOARD */
.dashboard {
    display: flex;
    min-height: calc(100vh - 60px);
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #111827;
    color: white;
    margin-top: 10px;
    border-radius: 8px;
    flex-shrink: 0;
}

.sidebar ul {
    list-style: none;
    padding: 15px 0;
}

.sidebar li {
    padding: 15px 25px;
}

.sidebar li a {
    color: white;
    text-decoration: none;
}

.sidebar li.active, .sidebar li:hover {
    background:  #374151;;
    border-radius: 6px;
}

/* MAIN CONTENT */
.content {
    flex: 1;
    padding: 20px 30px;
}

/* CONTAINER */
.container {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

/* HEADINGS */
h2, h3 {
    text-align: center;
    color: #042537;
}

/* SECTIONS */
.section {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

/* INPUTS AND BUTTONS */
input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}

/* QUESTIONS / ANSWERS */
.question {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.answer {
    margin-top: 5px;
    background: #eef;
    padding: 8px;
    border-radius: 5px;
}

/* TEACHER PANEL */
.teacher {
    background: #fff7e6;
}

.teacher-question {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px dashed #aaa;
}

textarea {
    min-height: 60px;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 15px;
    }
}
