* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f9;
}

/* HEADER */
.top-header {
    background: #1e3a8a;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.live-badge {
    background: red;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
}

/* MAIN CONTAINER */
.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* VIDEO SECTION */
.video-section {
    flex: 2;
}

.video-box {
    background: black;
    border-radius: 10px;

}

.video-box iframe {
    width: 100%;
    height: 550px;
}

/* BUTTONS */
.class-actions {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.btn {
    background: #2563eb;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
}

.btn.secondary {
    background: #059669;
}

/* INFO SECTION */
.info-section {
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 10px;
}

.info-section h3 {
    margin-bottom: 10px;
}

.info-section p {
    margin: 6px 0;
    font-size: 14px;
}

.info-section ul {
    margin-left: 18px;
    font-size: 14px;
}

.note {
    margin-top: 10px;
    color: #555;
    font-size: 13px;
}



@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .video-box iframe {
        height: 220px;
    }

    .class-actions {
        flex-direction: column;
    }
}
 .logout-btn {
            position: fixed; 
            bottom: 20px;
            right: 20px;
            padding: 10px 20px;
            background-color: #f44336; 
            border: none;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
            box-shadow: 0 2px 5px rgba(0,0,0,0.3);
            color: aliceblue;
        }

        .logout-btn:hover {
            background-color: #d32f2f;
        }