 body {
            font-family: Arial, sans-serif;
             background: linear-gradient(135deg, #b3d8ec, #ffffff);
            padding: 20px;
            min-height: 90vh;
        }

        .container {
            max-width: 700px;
            margin: auto;
        }

        h2 {
            text-align: center;
        }

        .section {
            background: #fff;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        }

        input[type=text] {
            width: 80%;
            padding: 8px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        button {
            padding: 8px 12px;
            border-radius: 5px;
            border: none;
            background: #007BFF;
            color: white;
            cursor: pointer;
        }

        button:hover {
            background: #0056b3;
        }

        .question {
            background: #f0f0f0;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .answer {
            background: #d4edda;
            padding: 8px;
            border-radius: 5px;
            margin-top: 5px;
        }

/* Responsive */
@media (max-width: 480px) {
    .section {
        padding: 18px;
    }

    button {
        width: 100%;
    }
}
 .logout-btn {
            position: fixed; 
            bottom: 20px;
            right: 20px;
            padding: 10px 20px;
            background-color: #f44336; 
            border: none;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
            box-shadow: 0 2px 5px rgba(0,0,0,0.3);
            color: aliceblue;
        }

        .logout-btn:hover {
            background-color: #d32f2f;
        }