 body {
        background: linear-gradient(135deg, #b3d8ec, #ffffff);
        background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed;  

    padding: 20px;
    min-height: 100vh;             
    margin: 0;                    
}
        
        .container {
            max-width: 600px;
            margin-top: 100px;
            margin-left: 390px;
            padding: 20px;
            border-radius: 8px;
            background:#ffffffc1;
            box-shadow: 2px 3px 5px black;

        }

        .section {
            margin-bottom: 30px;
        }

        .question {
            padding: 10px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .options button {
            margin: 5px 5px 0 0;
            padding: 5px 10px;
            cursor: pointer;
        }

        .correct {
            background-color:rgb(109, 164, 109);
            box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.43);
        }

        .wrong {
            background-color:rgba(243, 9, 25, 0.815);
             box-shadow: 2px 3px 9fpx rgba(0, 0, 0, 0.43);
        }

        .answer {
            margin-top: 5px;
            color: #0b0b0b;
        }
         .logout-btn {
            position: fixed; 
            bottom: 20px;
            right: 20px;
            padding: 10px 20px;
            background-color: #f44336; 
            border: none;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
            box-shadow: 0 2px 5px rgba(0,0,0,0.3);
            color: aliceblue;
        }

        .logout-btn:hover {
            background-color: #d32f2f;
        }