* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body {
  background: linear-gradient(135deg, #68BBE3, #ffffff);
  min-height: 100vh;
}


.header {
  height: 80px;
  background: linear-gradient(90deg, #076bb7, #68bbe3);
  color: white;
  padding: 20px 30px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header span{
  float: right;
  font-size: 30px;
}

.layout {
  display: flex;
}

.sidebar {
  width: 230px;
  background: linear-gradient(180deg, #003060, #0e86d4);
  color: white;
  padding: 20px;
  border-radius: 8px;

  position: fixed;
  top: 85px;           
  left: 0;
  height: calc(100vh - 85px);

}


.sidebar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 10px;
  border: 3px solid white;
}

.sidebar h4 {
  text-align: center;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  margin-bottom: 8px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

.menu:hover {
  background: rgba(255, 255, 255, 0.2);
}

.logout {
  margin-top: 30px;
  background: rgba(255, 0, 0, 0.15);
}

.dropdown-content {
  display: none;
  margin-left: 20px;
}

.dropdown-content a {
  display: block;
  padding: 8px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.dropdown-content a:hover {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
}

.show {
  display: block;
}


.main {
  margin-top: 85px;         
  margin-left: 250px;       
  overflow-y: auto;       
  padding: 30px;
}



.section-title {
  font-size: 22px;
  margin-bottom: 5px;
  color: #043560;
}
.flex{
    display: flex;
}.box {
    margin: 20px;
    display: flex; 
    justify-content: center; 
}
.header h3{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    color: rgb(3, 9, 81);
   font-weight: bolder;
}

.box .card {
    border: 2px solid white;
    width: 250px;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.626);
    padding: 10px;
    text-align: center; 
  margin-right: 30px;

}
.box .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.box .card img {
    width: 220px;
    height: 200px;
    object-fit: cover; 
    margin: 0 auto; 
}

.box .card a{
    color: rgb(4, 53, 96);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
.box .card a:hover {
    color: #2c6eb2;
}